* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;   /* kills scrollbar */
<<<<<<< HEAD
}
=======
}
>>>>>>> f37cfedcc2d28f0907eae169eaa4a700de557ebb
